<?xml version="1.0" encoding="UTF-8"?>
<!--
* This file is a part of php-L2tpServer-server.
* Copyright (C) "Sergei Lomakov <sergei@lomakov.net>"
*
* php-L2tpServer-server is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* php-L2tpServer-server is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with php-L2tpServer-server.  If not, see <http://www.gnu.org/licenses/>.
*
-->
<phpunit verbose="true" bootstrap="./vendor/autoload.php" debug="true">
	<testsuites>
		<testsuite name="AVP test suite">
		    <directory suffix=".php">./tests/AVPs/</directory>
		</testsuite>
        <testsuite name="Packets test suite">
            <directory suffix=".php">./tests/Packets/</directory>
        </testsuite>
	</testsuites>
</phpunit>

